 .pdf-wrapper {
    position: relative;
    width: 100%;
    /* Menggunakan vh (viewport height) agar pas di layar HP maupun Desktop */
    height: 80vh;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .pdf-wrapper embed {
    width: 100%;
    height: 100%;
  }




// parallax

.hero-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-layer {
  position: absolute;
  will-change: transform; /* Optimasi performa */
}

/* Contoh posisi awal masing-masing ikon */
.icon-wa { top: 20%; left: 10%; z-index: 1000; }
.icon-fb { top: 10%; left: 30%; z-index: 2000; }
.icon-tw { top: 40%; left: 5%; z-index: 1000; }


.svg-medsos1 paths {
fill:none; stroke:black;
}
 
