.main{ width: 80%; margin : 50px auto;}

.menu{  display: none;}
#footer-artikel{ display:none;}

.sidebar-header{  padding: 20px 0 50px 0;}
.footer {  margin-top: 0px;}
.footer div { text-align: left;}

#pattern-layer {
position: fixed;
top: 0;
left: 0;
height: 100vh;
margin: 0;
height: 100%;
padding: 0;
width:100%;
overflow: hidden;
z-index: -1;
background-image: linear-gradient(var(--pColor), var(--pColor), var(--pDarkColor));
}

#pattern-layer::before {
    content: "";
    position: absolute;
    inset: -40%;
    background-image: var(--svgLogo);
    background-repeat: repeat;
    background-size: 60px 60px;
    /* opacity: 0.5; */
    transform: rotate(-18deg);
    animation: menuPatternMove 50s linear infinite;
    pointer-events: none;
    z-index: 0;

@keyframes menuPatternMove {from { background-position: 0 300px; } to {background-position: 200px -300px; }
}
