
.pdf-wrapper {
    position: relative;
    width: 100%;
    /* Menggunakan vh (viewport height) agar pas di layar HP maupun Desktop */
    height: 80vh;
    border: 1px solid #ccc;
    overflow: hidden;
  }

  .pdf-wrapper embed {
    width: 100%;
    height: 100%;
  }




// parallax

.hero-container {
  position: relative;
  height: 80vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-layer {
  position: absolute;
  will-change: transform; /* Optimasi performa */
}

/* Contoh posisi awal masing-masing ikon */
.icon-wa { top: 20%; left: 10%; z-index: 1000; }
.icon-fb { top: 10%; left: 30%; z-index: 2000; }
.icon-tw { top: 40%; left: 5%; z-index: 1000; }


.svg-medsos1 paths {
fill:none; stroke:black;
}





.sidepanel {
    position: fixed;
    top: 0;
    left: -450px; /* Sembunyi di kiri */
    width: 400px;
    height: 100%;
    background: #f8f9fa;
    z-index: 9999;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--pColor);
}

.sidepanel.open {
    left: 0;
}

.sidepanel-header { padding: 8px; background: var(--pLightColor); color: white; display: flex; justify-content: space-between; }

#json-input {
    flex-grow: 1;
    width: 100%;
    /* font-family: monospace; */
    padding: 10px;
    border: none;
    resize: none;
    /* background: #272822;
    color: #f8f8f2; */
}

.floating-btn {
  z-index: 99;
  position: fixed;
    bottom: 20px;
    right: 20px;
    background: var(--pColor);
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
